* {
    margin: 0;
    padding: 0;
    font-family: Microsoft YaHei;
    box-sizing: border-box;
}
.btn{
    margin: 0 .5rem;
    padding: .2rem 1rem;
    border-radius: .2rem;
    border: 0;
    box-shadow: 0 0.05em 0.25em rgba(0,0,0,.5);
    background-color: #fff;
    cursor: pointer;
    font-size: .9rem;
    color: #888;
}
.btn:hover{
  background-color: #ec971f;
  color: #fff;
  border-color: #ee7419; 
}